Prueba/Service References/ServiceMasterBikes/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50304/Servicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CapaAccesoDatos" />
  <xs:element name="ObtenerUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CapaAccesoDatos" minOccurs="0" name="ObtenerUsuarioResult" nillable="true" type="q1:Cl_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerProductos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerProductosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CapaAccesoDatos" minOccurs="0" name="obtenerProductosResult" nillable="true" type="q2:ArrayOfCl_Producto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>