Prueba/Service References/ServiceMasterBikes/Servicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CapaAccesoDatos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CapaAccesoDatos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cl_Usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cl_Usuario" nillable="true" type="tns:Cl_Usuario" />
  <xs:complexType name="ArrayOfCl_Producto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cl_Producto" nillable="true" type="tns:Cl_Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCl_Producto" nillable="true" type="tns:ArrayOfCl_Producto" />
  <xs:complexType name="Cl_Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descuento" type="xs:int" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:int" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cl_Producto" nillable="true" type="tns:Cl_Producto" />
</xs:schema>